body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: color #ffffff;
  color:#ffffff;
}	

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #137a63;
  color: rgb(255, 255, 255);
  padding: 15px 30px;
}

.logo {
  margin: 0;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 10px;
}

.nav-links a:hover {
  text-decoration: underline;
}

button {
  background:#0a3a2a;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: rgb(124, 124, 123);
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: #5aa17f;
}

.section {
  padding: 50px 30px;
  text-align: center;
  background: rgb(84, 200, 144)
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card,
.project-card {
  background: #0a3a2a;
  padding: 25px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
}

.project-card a {
  color: #ffffff;
  font-weight: bold;
}

.footer {
  text-align: center;
  background: #137a63;
  color: white;
  padding: 20px;
}

/* Dark mode */
.dark {
  background-color: #111;
  color: white;
}

.dark .navbar {
  background-color: #101010;
}

.dark .hero {
  background-color: #333;
}

.dark .card,
.dark .project-card {
  background-color: #0a3a2a;
  color: white;
}

.dark .nav-links a {
  color: rgb(255, 255, 255);
}

.dark .footer {
  background-color: #101010;

}
.dark .section {
  background-color: #000000;
}

.dark .project-card a {
  color: rgb(77, 76, 76);
}
.dark .button {
  background-color: #3a3939;
  color: rgb(255, 255, 255);
}
.dark .project-card a {
  color: rgb(83, 83, 83);
}
